@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --text-50: #edebf9;
    --text-100: #dcd7f4;
    --text-200: #b9afe9;
    --text-300: #9688dd;
    --text-400: #7360d2;
    --text-500: #5038c7;
    --text-600: #402d9f;
    --text-700: #302277;
    --text-800: #201650;
    --text-900: #100b28;
    --text-950: #080614;
    
    --background-50: #f0eff6;
    --background-100: #e1deed;
    --background-200: #c4bddb;
    --background-300: #a69cc9;
    --background-400: #887bb7;
    --background-500: #6b5ba4;
    --background-600: #554884;
    --background-700: #403663;
    --background-800: #2b2442;
    --background-900: #151221;
    --background-950: #0b0910;
    
    --primary-50: #efeef6;
    --primary-100: #e0deed;
    --primary-200: #c0bcdc;
    --primary-300: #a19bca;
    --primary-400: #8279b9;
    --primary-500: #6358a7;
    --primary-600: #4f4686;
    --primary-700: #3b3564;
    --primary-800: #272343;
    --primary-900: #141221;
    --primary-950: #0a0911;
    
    --secondary-50: #f6f1ee;
    --secondary-100: #ede4de;
    --secondary-200: #dcc8bc;
    --secondary-300: #caad9b;
    --secondary-400: #b99279;
    --secondary-500: #a77658;
    --secondary-600: #865f46;
    --secondary-700: #644735;
    --secondary-800: #432f23;
    --secondary-900: #211812;
    --secondary-950: #110c09;
    
    --accent-50: #f3f1f4;
    --accent-100: #e7e3e8;
    --accent-200: #cec7d1;
    --accent-300: #b6abba;
    --accent-400: #9d8fa3;
    --accent-500: #85738c;
    --accent-600: #6a5c70;
    --accent-700: #504554;
    --accent-800: #352e38;
    --accent-900: #1b171c;
    --accent-950: #0d0b0e;
    
  }
  .dark {
    --text-50: #080614;
    --text-100: #100b28;
    --text-200: #201650;
    --text-300: #302277;
    --text-400: #402d9f;
    --text-500: #5038c7;
    --text-600: #7360d2;
    --text-700: #9688dd;
    --text-800: #b9afe9;
    --text-900: #dcd7f4;
    --text-950: #edebf9;
    
    --background-50: #0b0910;
    --background-100: #151221;
    --background-200: #2b2442;
    --background-300: #403663;
    --background-400: #554884;
    --background-500: #6b5ba4;
    --background-600: #887bb7;
    --background-700: #a69cc9;
    --background-800: #c4bddb;
    --background-900: #e1deed;
    --background-950: #f0eff6;
    
    --primary-50: #0a0911;
    --primary-100: #141221;
    --primary-200: #272343;
    --primary-300: #3b3564;
    --primary-400: #4f4686;
    --primary-500: #6358a7;
    --primary-600: #8279b9;
    --primary-700: #a19bca;
    --primary-800: #c0bcdc;
    --primary-900: #e0deed;
    --primary-950: #efeef6;
    
    --secondary-50: #110c09;
    --secondary-100: #211812;
    --secondary-200: #432f23;
    --secondary-300: #644735;
    --secondary-400: #865f46;
    --secondary-500: #a77658;
    --secondary-600: #b99279;
    --secondary-700: #caad9b;
    --secondary-800: #dcc8bc;
    --secondary-900: #ede4de;
    --secondary-950: #f6f1ee;
    
    --accent-50: #0d0b0e;
    --accent-100: #1a171c;
    --accent-200: #352e38;
    --accent-300: #4f4554;
    --accent-400: #6a5c70;
    --accent-500: #84738c;
    --accent-600: #9d8fa3;
    --accent-700: #b5abba;
    --accent-800: #cec7d1;
    --accent-900: #e6e3e8;
    --accent-950: #f3f1f4;
    
  }
}
